
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    position: relative;
}

input[type="checkbox"]{
    position:fixed;
    top: 40px;
    right: 100px;
    cursor: pointer;
    z-index:1000;
}

input[type='checkbox']:checked ~ *{
    filter: invert(1);
    /* background: white; */
}

section{
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    min-height: 100vh;
    padding: 80px 100px;
}

